<!-- <div class="cover-container d-flex w-100 h-10 p-3 mx-auto flex-column">
        <header class="mb-auto">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="/campgrounds">Campgrounds</a>
                    <a class="nav-link" href="/campgrounds/addnew">Add new Campground</a>
                </div>
                <div class="navbar-nav ms-auto pl-5">
                    <% if(!currentUser) { %>
                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/register">Register</a>
                    <% } else { %>
                    <a class="nav-link" href="/logout">Logout</a>
                    <% } %>
                </div>
        </header>
    </div>
 -->


<nav class="navbar sticky-top navbar-expand-lg nav-masthead ">
  <div class="container-fluid">
    <a class="navbar-brand nav-link" href="/">Wander</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/campgrounds">Campgrounds</a>
        <a class="nav-link" href="/campgrounds/addnew">Add Campground</a>
      </div>
      <div class="navbar-nav ms-auto pl-5">
        <% if(!currentUser){ %> 
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/register">Register</a>
        <% }else{ %> 
        <a class="nav-link" href="/logout">Logout</a>
        <% }  %> 
      </div>
    </div>
  </div>
</nav>

<!-- <header class="mb-auto">
            <div>
                <nav class="nav nav-masthead justify-content-center float-md-right">
                <a class="nav-link float-md-left mb-0" href="/">Wander</a>

                    <a class="nav-link" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="/campgrounds">Campgrounds</a>
                    
                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/register">Register</a>
                    
                </nav>
            </div>
        </header> -->