<%layout('layouts/boilerplate.ejs')%>
<div class= "row">
    <h1 class="text-center"> Add new Campground</h1>
    <div class="col-6 offset-3">
        <form method="POST" action="/campgrounds">
        <div class="mb-3">
            <label class="form-label" for="title"> Title</label>
            <input class="form-control" type="text" id="title" name="title">
        </div>
        <div class="mb-3">
            <label class="form-label" for="location"> Location</label>
            <input class="form-control" type="text" id="location" name="location">
        </div>
        <div>
            <label class="form-label" for="price"> Price</label>
            <div class="input-group mb-3">
                <span class="input-group-text">Rs.</span>
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" id="price" name="price">
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="image"> Image Url</label>
            <input class="form-control" type="text" id="image" name="image">
        </div>
    
        <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <textarea class="form-control" id="description" name="description"></textarea>
          </div>

        <div class="mb-3">
            <button class="btn btn-dark"> SUBMIT</button>
        </div>
        </form>
        <a class="btn btn-outline-dark" href="/campgrounds"> All Campgrounds</a>
    </div>
</div>
