<%layout('layouts/boilerplate.ejs')%>

<div class= "row text-white addshadow">
    <h1 class="text-center"> Add a new Location</h1>
    <div class="col-6 offset-3">
        <form method="POST" action="/campgrounds" class="validate-this" enctype="multipart/form-data" novalidate>
        <div class="mb-3">
            <label class="form-label formshadow" for="title"> Title</label>
            <input class="form-control" type="text" id="title" name="campground[title]" required>
        </div>
        <div class="mb-3">
            <label class="form-label formshadow" for="location"> City </label>
            <input class="form-control" type="text" id="location" name="campground[location]" required>
        </div>
        <!-- <div>
            <label class="form-label formshadow" for="price"> Price</label>
            <div class="input-group mb-3">
                <span class="input-group-text">Rs.</span>
                <input type="text" class="form-control" id="price" name="campground[price]" required>
            </div>
        </div> -->
        <div class="input-group mb-3">
            <input type="file" class="form-control" id="image" name="image" multiple >
          </div>
          
        <div class="mb-3">
            <label class="form-label formshadow" for="description">Description</label>
            <textarea class="form-control" id="description" name="campground[description]" required></textarea>
          </div>

        <div class="mb-3">
            <button class="btn btn-success"> SUBMIT</button>
        </div>
        </form>
        <a class="btn btn-dark" href="/campgrounds"> All Campgrounds</a>
    </div>
</div>
