
<%layout('layouts/boilerplate.ejs')%>
    <h1>ALL CAMPGROUNDS:</h1>
    <a href="/campgrounds/addnew">ADD CAMPGROUND</a>
        <%for(let cg of campgrounds){%>
            <div class="card" mb-3>
                <div class="row">
                    <div class="col-md-4">
                        <%if(cg.images.length) {%>
            <img class="img-fluid" alt="sorry" src="<%=cg.images[0].url%>">
            <% }else {%>
            <img class="img-fluid" alt="Sorrry"
                src="https://res.cloudinary.com/esjiwanders/image/upload/v1624912142/Wander/default_image_01_knt0ge.png">
            <% } %>
    <ul>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p><%= cg.title%> </p>
                            <p><%= cg.description%> </p>
                            <a class="btn btn-primary" href=<%=`/campgrounds/${cg.id}`%> >Details</a>
                        </div>
                    </div>
                </div>
            </div>
        <%}%>
    </ul>
